beautifulsoup4==4.15.0
cloudscraper==1.2.71
matplotlib==3.10.9
nltk==3.9.1
numpy==2.4.6
pandas==3.0.3
Requests==2.34.2
scikit_learn==1.9.0
scipy==1.17.1
seaborn==0.13.2
selenium==4.44.0
spacy==3.8.9
transformers==4.57.1
translate==3.8.0
vaderSentiment==3.3.2
vaderSentiment==3.3.2
wordcloud==1.9.4
yellowbrick==1.5
